<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>

	<div th:replace="fragments::main-top">
	</div>

	<header th:replace="fragments::main-header">
	</header>

	<div th:replace="fragments::top-search">
	</div>

	<section id="register-form" class="mt-4 mb-4">
		<div class="container">
			<div class="form text-center">
				<h1>Log In</h1>
				<div th:if="${param.error}" class="alert alert-danger text-center">
					<p>Invalid Username or Password</p>
				</div>
				<div th:if="${param.logout}" class="alert alert-danger text-center">
					<p>You have been logged out</p>
				</div>

				<form th:action="@{/do-login}" method="POST" th:object="${customerDto}">
					<div class="mt-2">
						<label for="email">Email</label>
						<input id="email" class="form-control" type="text" placeholder="Email" th:field="*{username}">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
					</div>
					<div class="mt-2">
						<label for="password">Password</label>
						<input id="password" class="form-control" type="password" placeholder="Password" th:field="*{password}">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
					</div>
					<div class="mt-2">
						<button type="submit">Login</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<div th:replace="fragments::instagram-box">
	</div>

	<footer th:replace="fragments::footer">
	</footer>

	<div th:replace="fragments::script">
	</div>
</body>
</html>