<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>

	<div th:replace="fragments::main-top">
	</div>

	<header th:replace="fragments::main-header">
	</header>

	<div th:replace="fragments::top-search">
	</div>

	<section id="register-form">
		<div class="container d-flex justify-content-center">
			<div class="card col-6 my-4">
				<div class="card-body text-center">
					<h1>Register</h1>
					<div th:if="${error}" class="alert alert-danger text-center">
						<p th:text="${error}"></p>
					</div>
					<div th:if="${success}" class="alert alert-success text-center">
						<p th:text="${success}"></p>
					</div>
					<div th:if="${firstName}" class="alert alert-danger text-center">
						<p th:text="${firstName}"></p>
					</div>
					<div th:if="${lastName}" class="alert alert-danger text-center">
						<p th:text="${lastName}" class="alert alert-danger text-center"></p>
					</div>
					<div th:if="${username}">
						<p th:text="${username}" class="alert alert-danger text-center"></p>
					</div>
					<div th:if="${password}" class="alert alert-danger text-center">
						<p th:text="${password}"></p>
					</div>

					<form th:action="@{/do-register}" method="POST" th:object="${customerDto}">
						<div class="mt-2">
							<label for="firstName">First Name</label>
							<input id="firstName" class="form-control" type="text" placeholder="First Name" th:field="*{firstName}">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
						</div>
						<div class="mt-2">
							<label for="lastName">Last Name</label>
							<input id="lastName" class="form-control" type="text" placeholder="Last Name" th:field="*{lastName}">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
						</div>
						<div class="mt-2">
							<label for="email">Email</label>
							<input id="email" class="form-control" type="text" placeholder="Email" th:field="*{username}">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
						</div>
						<div class="mt-2">
							<label for="password">Password</label>
							<input id="password" class="form-control" type="password" placeholder="Password" th:field="*{password}">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						</div>
						<div class="mt-2">
							<label for="retypePassword">Retype Password</label>
							<input id="retypePassword" class="form-control" type="password" placeholder="Retype Password" th:field="*{retypePassword}">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('retypePassword')}" th:errors="*{retypePassword}"></div>
						</div>
						<div class="mt-4">
							<button type="submit" class="btn btn-primary btn-block">Register</button>
							<a th:href="@{/login}">Already have account? Login here.</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="fragments::instagram-box">
	</div>

	<footer th:replace="fragments::footer">
	</footer>

	<div th:replace="fragments::script">
	</div>
</body>
</html>